

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body{
	text-align: center;
	font-family:'Playfair Display', sans-serif;}

header{
	background-color: #FFED74;
	padding: 20px;
	background-image: url(../images/dc.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	
}

img{
	display: block; 
	margin: auto;
	width: 100%;
	border-radius: 50%;
}


h1{
	display: block;
	padding: 0%;
	font-size: 72px;
	color: rgb(0,0,0);
	text-align: center;
}

h2{
	text-transform: uppercase;
	text-align: center;
}

nav{
	display: block;
	border: 1px black solid
	padding: 0px;
	text-align: center;
	margin: .8em;
	float: left
	width: 100%;
	font-size: 30px;
}

aside{
		padding: 20px;
		text-align: right;
		border-radius: 50%%;}

article{
	padding: 20px;
	text-align: left;
	font-family: 'playfair display', sans-serif;
	}

footer{
	background-color: #AA98AF;
	padding: 10px;
	text-align: center;
	width: 100%;
	display: inline-block;
	font-size: 15px;
}

section{
	padding: 20px;}

p{
	font-size: 24px;
	text-align: left
	color: rgb(0,0,0);}

#two_column{
	padding: 20px;
}

#left{
	padding: 20px;
	float: left;
	width: 30%;
}

#right{
	padding: 20px;
	float: right;
	width: 60%;
}

.clearfix:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "section";
	clear: both;
	height: 0;
}



