body{background-color: rgb(255,255,255);
	font-family: Helvetica;
	text-align: center;}
h1{font-size: 72px;
color: rgb(154,178,143);
}

#subhead{font-size:24;
font-style: italic}

p,ul {font-size: 24px; 
	text-align: center;
	color: rgb(0,0,0);
list-style-type: none;}


